@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
	--light: #a9a5c0;
	--hover: #fdcf2f;
	--form-control-color: #fdcf2f;
	--danger: #fc3030;
	--dark: #2c2549;
}

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	height: 100vh;
	background-color: var(--dark);
	color: var(--light);
}

h1,
h2,
h3 {
	font-weight: 500;
}

h1 {
	font-size: 1.5rem;
	line-height: 1.2;
}

a {
	text-decoration: none;
	color: var(--light);
}

a:hover {
	color: var(--hover);
}

p,
li {
	font-size: 1.2rem;
	line-height: 1.2;
	margin: 20px;
}

ul {
	list-style: none;
	margin: 0 auto;
}

/* li {
	line-height: 2.2;
	margin-left: 40px;
} */

span {
	color: var(--hover);
}

em {
	font-size: 0.6em;
	color: #e66533;
}

.background-image {
	position: absolute;
	width: 100%;
	height: 84%;
	top: 0;
	left: 0;
	z-index: -1;
}

.border-up {
	padding-top: 40px;
	border-top: 1px solid var(--light);
}

.btn {
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	color: var(--light);
	background: var(--dark);
	border: 1px solid var(--light);
	border-radius: 5px;
	padding: 10px 20px;
	box-shadow: 5px 5px 15px #211b36, -5px -5px 15px #372f5c;
}

.btn-reverse {
	background: var(--light);
	color: #2c2549;
	box-shadow: 5px 5px 15px #211b36, -5px -5px 15px #372f5c;
}

.btn:hover,
.btn-reverse:hover {
	transform: scale(0.98);
	border: 1px solid var(--dark);
	background-color: var(--hover);
	color: var(--dark);
	box-shadow: 5px 5px 15px #211b36, -5px -5px 15px #372f5c;
}

.btn-danger {
	color: var(--danger);
	border: 1px solid var(--danger);
	box-shadow: none;
}

.btn-danger:hover {
	color: var(--dark);
	border: 1px solid var(--dark);
	background-color: var(--danger);
	box-shadow: none;
}

.btn-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.capitalize {
	text-transform: capitalize;
}

.error-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.error-danger {
	color: var(--danger);
	font-size: 1rem;
}

.form-btn {
	margin-top: 30px;
}

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	text-align: center;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
	margin: 20px auto;
	padding: 0 20px;
}

.header {
	height: 62px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
	background-color: var(--dark);
	box-shadow: 5px 5px 15px #211b36, -5px -5px 15px #372f5c;
}

.main-text {
	font-size: 1.5rem;
}

.icon-shadow {
	-webkit-filter: drop-shadow(5px 5px 2px rgb(0 0 0 / 0.4));
	filter: drop-shadow(5px 5px 2px rgb(0 0 0 / 0.4));
}

.icon-size {
	font-size: 2rem;
	margin: 10px;
}

.icon-header {
	display: flex;
	align-items: center;
}

.icon-linked {
	margin-top: 10px;
}

.icon-container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.icon-large-container {
	position: relative;
	display: flex;
	justify-content: center;
}

.icon-large {
	font-size: 15rem;
	-webkit-filter: drop-shadow(5px 5px 2px rgb(0 0 0 / 0.4));
	filter: drop-shadow(5px 5px 2px rgb(0 0 0 / 0.4));
}

.icon-space {
	margin: 0 10px;
}

.list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.column-list-container {
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-top: 20px;
}

.nav {
	width: 50%;
	font-size: 1.5rem;
	margin: 5% auto;
	padding: 1.5em;
	border: 2px solid rgba(255, 255, 255, 0.1);
	box-shadow: 5px 5px 15px #211b36, -5px -5px 15px #372f5c;
	border-radius: 0.5rem;
}

.nav-links {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-links + .nav-links {
	margin-top: 20px;
}

.status {
	color: var(--light);
	width: 100px;
	padding: 0 20px;
	justify-self: center;
	border-radius: 5px;
	font-size: 1rem;
	text-align: center;
}

.status-New {
	background-color: darkred;
}

.status-Open {
	background-color: orange;
}

.status-Assigned {
	background-color: steelblue;
}

.status-Note_sent {
	background-color: springgreen;
}

.status-Product_missing {
	background-color: teal;
}

.status-In-Progress {
	background-color: var(--hover);
}

.status-Closed {
	background-color: green;
	color: #fff;
}

.uppercase {
	text-transform: uppercase;
}
