[data-reach-dialog-overlay] {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 5;
}

[data-reach-dialog-content] {
	width: 90vw;
}

.dialog {
	background: var(--dark);
	padding: 1em 1.5em 1em;
	border: 2px solid var(--border-light);
	border-radius: 0.5rem;
	box-shadow: 5px 5px 15px var(--dark-extra), -5px -5px 15px var(--dark-min);
}

.label {
	color: var(--light);
	padding: 20px 0;
}

.actions {
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
	gap: 10px;
}