input {
	font-family: inherit;
	height: 2.5rem;
	width: 100%;
	background-color: rgba(52, 46, 80);
	border-radius: 0.5rem;
	padding: 0 1.5em;
	font-size: 1.1rem;
	font-weight: 300;
	color: var(--hover);
	border: none;
	box-shadow: 3px 3px 3px #211b36 inset, -3px -3px 3px #372f5c inset;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px rgba(52, 46, 80) inset !important;
	-webkit-text-fill-color: var(--hover) !important;
	border-radius: 0.5rem !important;
	color-scheme: dark;
}

input:focus {
	outline: 1px solid var(--hover);
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 85vh;
}

.form-content {
	padding: 0.5em 1.5em 1em;
	border: 2px solid rgba(255, 255, 255, 0.1);
	border-radius: 0.5rem;
	box-shadow: 5px 5px 15px #211b36, -5px -5px 15px #372f5c;
}

.form-group {
	margin-top: 20px;
}
